<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= indent_output(stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true), "    ", true) %>
    <%= indent_output(javascript_include_tag("application", "data-turbolinks-track" => true), "    ", true) %>
    <%= indent_output(csrf_meta_tags, "    ", true) if !Rails.env.test? %>
    <%= indent_output(render('layouts/shim'), "    ", true) %>
  </head>
  <body>
    <%= indent_output(render('layouts/header'), "    ", true) %>
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= indent_output(yield, "      ", true) %>
      <%= indent_output(render('layouts/footer'), "      ", true) %><%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>